@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
    --main-font: 'Kumbh Sans', sans-serif;
}

html {
    font-size: 18px;
    font-family: var(--main-font);
}

body {
    background-color: var(--dark-cyan);
    background-image: 
        url(../images/bg-pattern-top.svg),
        url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 45vw bottom 40vh, left 45vw top 50vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 999;
}
.card {
    width: 19.444444444444443rem; /*350*/
    border-radius: 0.5555555555555556rem;
    background-color: var(--white);
    text-align: center;
    margin: 0 1.3888888888888888rem;
}
.card .bg-avatar {
    width: 100%;
    border-top-left-radius: 0.5555555555555556rem;
    border-top-right-radius: 0.5555555555555556rem;
}
.card .avatar {
    border-radius: 50%;
    margin-top: -2.7222222222222223rem;
    margin-bottom: 1.1111111111111112rem;
    border: 0.2777777777777778rem solid var(--white);
}

.card h1 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 0.5555555555555556rem;
}
.card h1 .age {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}
.card > p {
    font-size: 0.7777777777777778rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    margin-bottom: 2.7777777777777777rem;
}

.card ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.3333333333333333rem;
}
.card ul li p:nth-child(1) {
    font-size: 1rem;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
    margin-bottom: 0.2777777777777778rem;
}
.card ul li p:nth-child(2) {
    font-size: 0.6666666666666666rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}

@media (max-width: 20.833333333333332rem) {
    .card {
        width: 18.11111111111111rem;
    }
}